<!DOCTYPE html>

<!-- CardMe | CSCE 315 Section 900 Team 3 | Kiran Bhattarai, Jackson Hagood, and Mahirah Samah -->

<html>
    <head>
        <title>CardMe | Upload Image</title>

        <link id = "theme" rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}"/>

        <script>
            function changeTheme() {
                var style = document.getElementsByTagName("link")[0]; 

                if (style.getAttribute("href") == "{{url_for('static', filename='css/style.css')}}") {
                    style.setAttribute("href", "{{url_for('static', filename='css/contrast.css')}}"); 
                    localStorage.setItem("sheet", "{{url_for('static', filename='css/contrast.css')}}");
                } else { 
                    style.setAttribute("href", "{{url_for('static', filename='css/style.css')}}"); 
                    localStorage.setItem("sheet", "{{url_for('static', filename='css/style.css')}}");
                }
            }

            window.onload = function() {
                if (localStorage.getItem("sheet") == "{{url_for('static', filename='css/style.css')}}" || localStorage.getItem("sheet") == "{{url_for('static', filename='css/contrast.css')}}") {
                    document.getElementsByTagName("link")[0].setAttribute("href", localStorage.getItem("sheet"));
                } else {
                    document.getElementsByTagName("link")[0].setAttribute("href", "{{url_for('static', filename='css/style.css')}}");
                }
            }
        </script>
    </head>

    <body>
        <header>
            <a id = "name" href = "/index"><img src = "{{url_for('static', filename='img/Logo.png')}}" alt = "About"></a>

            <div class = "navigation">
                <a href = "/folders">My Folders</a>
                <a href = "/uploadimage">Upload</a>
            </div>
        </header>

        <article>
            <div class = "center">    
                <h1>Upload an image</h1>

                <hr>

                <form action = "/upload-image" method = "POST" enctype = "multipart/form-data">
                    <div class = "form-group">
                        <div class = "custom-file">
                            <input type = "file" class = "custom-file-input" name = "image" id = "image">
                        </div>

                        <input name = "text" placeholder = "Folder Name (one word)">
                    </div>

                    <button type = "submit" class = "btn btn-primary">↑ Upload</button>
                </form>
            </div>
        </article>
        
        <footer>
            <p>CSCE 315 Section 900 Team 3</p>

            <button onclick = "changeTheme()" class = "btn" style = "margin-bottom: 16px">Accessibility Mode</button>
        </footer>
    </body>
</html>